header .nav-menu-inner a {
    display: unset;
}

.rows-and-columns {
	width: 100%;
}

.content ol, .content ul {
    margin-left: 1.5rem;
}

ol {
    list-style: decimal;
    margin-left: 1.5rem;
}

.nav-menu-inner ul {
    list-style: none;
}

ul {
	list-style: circle;
	margin-bottom: 1.5rem;
}
