<!doctype html>
<html>
  <head>
    <style>
    .columns code {
      padding: 0 5px;
      background-color: #eee;
    }
    .desc, td.desc {
      color: gray;
      font-style: italic;
    }
    td.desc {
      padding-left: 5px;
    }
    .sql-query {
      font-family: monospace;
      min-width: 500px;
      min-height: 150px;
    }
    h3, h4 {
      margin-top: 25px;
    }
    .toggle {
      cursor: pointer;
      font-size: 0.8rem;
    }
    .toggle:hover {
      text-decoration: underline;
    }
    </style>

    <script id="props" type="text/props">
      {
        "csrftoken": "{{csrftoken()}}",
        "dbs": {{dbs|safe}},
        "config": {{config|safe}},
        "help_text": {{help_text|safe}},
        "dogsheep_columns": {{dogsheep_columns|safe}},
        "dogsheep_categories": {{dogsheep_categories|safe}}
      }
    </script>

    <script  type="module" src="/static/js/dogsheep_cli.js"></script>

    <script>
/*
      const stopit = (e) => {
        console.log("HI");
        e.preventDefault();
        e.stopPropagation();
      };
      // window.onsubmit = stopit;
      // document.querySelector("input[type='submit']").onclick = stopit;

      document.toggle_sql = (id, e) => {
        const disp = document.getElementById(id).style.display;
        document.getElementById(id).style.display = disp === 'unset' ? 'none' : 'unset';
      };

      document.updateValue = (e) => {
        window.target = e.target;
        const value = e.target.value;
        const key = e.target.attributes.name.value.split(".").pop();
        console.log("New value", value, "for search index key", key);
        //                    input -> td         -> tr         -> tbody      -> table      -> wrapper div
        const wrapper_div = e.target.parentElement.parentElement.parentElement.parentElement.parentElement;
        console.log("wrapper_div", wrapper_div);
        window.wrapper_div = wrapper_div;
        const sql_textarea = wrapper_div.querySelector(".sql-query");
        console.log("sql_textarea", sql_textarea)
        window.sql_textarea = sql_textarea;

        const query_parts = [
          "select",
        ];
        wrapper_div.querySelectorAll("input").forEach((el) => {
          const search_key = el.attributes.name.value.split(".").pop();
          console.log("search_key", search_key);
          const search_keys = [
            "key",
            "title",
            "timestamp",
            "search_1",
          ];
          if (search_keys.indexOf(search_key) === -1) return;
          if (!el.value) return;
          query_parts.push(`[${el.value}] as ${search_key}`);
        });

        query_parts.push(wrapper_div.querySelector(".sql-condition").value);
        sql_textarea.innerText = query_parts.join(" ");
      };
 */
    </script>

  </head>
  <body></body>

</html>
